<!-- <app-person-detail (newNameEvent)="addName($event)"></app-person-detail>
{{newPerson.firstname}} -->

<!-- <app-person-detail [newP]="currentItem"></app-person-detail> -->

<!-- <ul>
    <li *ngFor="let p of person">
        <a routerLink="/person/{{p._id}}">
            <span class="badge">{{p._id}}</span> {{p.firstname}}
        </a>
    </li>
</ul> -->

<!-- <div class="person-menu">
    <a *ngFor="let p of person" routerLink="/person/{{p._id}}">{{p.firstname}}</a>
</div> -->
<!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button> -->
<!-- <ul>
    <li *ngFor="let hero of person">
        {{hero._id}} -->
        <!-- <button type="button" (click)="selectPerson(hero); showchildModal()">
            {{hero.firstname}}
        </button> -->
        <!-- <button [routerLink]="['/person/{{hero._id}}']">{{hero.firstname}}</button> -->
        <!-- <a routerLink="/person/{{hero._id}}">{{hero.firstname}}</a> -->
        <!-- <app-person-detail *ngIf="currentItem" [newP]="currentItem"></app-person-detail> -->
    <!-- </li>
</ul> -->
<!-- <app-person-detail *ngIf="currentItem" [newP]="currentItem"></app-person-detail> -->
<!-- <a *ngFor="let hero of person" routerLink="/person/{{hero._id}}">{{hero.firstname}}</a> -->
<!-- <h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of person">
    <a routerLink="/person/{{hero._id}}">
      <span class="badge">{{hero._id}}</span> {{hero.firstname}}
    </a>
  </li>
</ul> -->

<h2>Top Heroes</h2>
<div class="heroes-menu">
  <a *ngFor="let hero of person"
    routerLink="/person/{{hero._id}}">
    {{hero.firstname}}
  </a>
</div>
<!-- <app-person-detail></app-person-detail> -->
<!-- <app-person-detail *ngFor="let hero of person" [newP]="hero"></app-person-detail> -->
<!-- <app-person-detail #child></app-person-detail> -->