<!-- <input type="text" placeholder="Filter by city" #filter>
<button class="primary" type="button" (click)="filterResults(filter.value)">Search</button> -->

<!-- <form> -->
<div class="d-flex justify-content-end p-2">
  <div class="mx-1 row justify-content-end">
    <div class="col-xs-3 col-sm-auto">
      <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="person.length"></ngb-pagination>
    </div>
    <div class="col-xs-3 col-sm-auto">
      <select class="form-select" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()" role="button">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="15">15</option>
        <option [ngValue]="person.length">All</option>
      </select>
    </div>
  </div>
</div>

<div class="mx-4 table-responsive">
  <table class="table align-middle table-bordered table-hover rounded">
    <thead class="thead-dark text-center">
      <tr>
        <!-- <th data-field="id">#</th> -->
        <th data-field="firstname">Firstname</th>
        <th data-field="lastname">Lastname</th>
        <th data-field="email">Email</th>
        <th data-field="role">Role</th>
        <!-- <th data-field="contact">Contact</th>
            <th data-field="address">Address</th> -->
        <!-- <th>Action</th> -->
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let p of filterPerson"></tr> -->
      <tr *ngFor="let p of filterPerson | slice: (page-1) * pageSize : page * pageSize" app-person-detail [people]="p" ngdirectSwitch="admin"
        (addP)="addPerson($event)" (detailP)="getOne()" role="button">
      </tr>
    </tbody>
  </table>
</div>