<p>contact-list works!</p>

<!-- <app-contact></app-contact> -->

<div *ngIf="contactL">
    <tr *ngFor="let c of contactL">
        <app-contact [contact]="c"></app-contact>
    </tr>
</div>

<!-- <button type="button" class="ms-2 btn btn-primary btn-rounded">
    <i class="me-2 bi bi-person-plus-fill"></i>Add Person</button> -->

<ng-container *ngTemplateOutlet="display"></ng-container>

<ng-template #display>
    <tr *ngFor="let c of contactList">
        <app-contact [contact]="c"></app-contact>
    </tr>
</ng-template>


<ng-template #addContactList>
    <div *ngFor="let addC of addContact">
        thi sis else
        <app-contact [addContact]="addC"></app-contact>
    </div>
</ng-template>