<p>login works!</p>
<!-- Username: <input matInput [(ngModel)]="user" placeholder="John" name="username" #username>
Password: <input matInput [(ngModel)]="user" placeholder="John" name="firstname" #password> -->

<mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="user.username" name="username">
</mat-form-field>
<mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="user.password" name="password">
</mat-form-field>
<button type="submit" (click)="loginPerson(user)">Login</button>
<!-- <button type="submit" (click)="loginSession()">Login</button> -->