<ng-container *ngTemplateOutlet="content"></ng-container>

<ng-template #content>
    <td class="data-border">{{x.firstname}}</td>
    <td class="data-border">{{x.lastname}}</td>
    <td class="data-border">{{x.email}}</td>
    <td class="data-border">{{x.contact}}</td>
    <td>
        <button type="button" class="m-2 btn btn-primary" (click)="openDialog2()"><i
                class="bi bi-pencil-square"></i></button>
        <button type="button" class="m-1 btn btn-danger"><i class="bi bi-trash"></i></button>
    </td>
</ng-template>

<!-- Dialog template to Add Person -->
<ng-template #addP>
    <h2 mat-dialog-title>Add Person</h2>
    <form class="example-form">
        <mat-dialog-content>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>First name</mat-label>
                            <input matInput [(ngModel)]="newP.firstname" placeholder="John" name="first">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Last name</mat-label>
                            <input matInput [(ngModel)]="newP.lastname" placeholder="Doe" name="first">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Contact</mat-label>
                    <input matInput [(ngModel)]="newP.contact" placeholder="123456789" name="first" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput [(ngModel)]="newP.address" placeholder="Ex. 100 Main St" name="first"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Education</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </p>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>City</mat-label>
                            <input matInput placeholder="Ex. San Francisco">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>State</mat-label>
                            <input matInput placeholder="Ex. California">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <mat-dialog-actions align="end" class="btn-edit">
                <button mat-raised-button mat-dialog-close>Create</button>
                <button mat-raised-button mat-dialog-close color="warn">Close</button>
            </mat-dialog-actions>
        </mat-dialog-content>
    </form>
</ng-template>


<!-- Dialog template to Edit Person -->
<ng-template #editPerson>
    <h2 mat-dialog-title>{{x.firstname}} Details</h2>
    <!-- <form class="example-form">
        <mat-dialog-content>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                            <mat-form-field appearance="fill">
                            <mat-label>First name</mat-label>
                            <input matInput [(ngModel)]="x.firstname">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Last name</mat-label>
                            <input matInput [(ngModel)]="x.lastname" placeholder="Doe" name="first">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Contact</mat-label>
                    <input matInput [(ngModel)]="newP.contact" placeholder="John" name="first">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput [(ngModel)]="newP.address" placeholder="Ex. 100 Main St" name="first"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Education</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </p>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>City</mat-label>
                            <input matInput placeholder="Ex. San Francisco">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>State</mat-label>
                            <input matInput placeholder="Ex. California">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <mat-dialog-actions align="end" class="btn-edit">
                <button mat-raised-button mat-dialog-close>Save</button>
                <button mat-raised-button mat-dialog-close color="warn">Close</button>
            </mat-dialog-actions>
        </mat-dialog-content>
    </form> -->
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Firstname</mat-label>
            <input matInput [(ngModel)]="x.firstname" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Lastname</mat-label>
            <input matInput [(ngModel)]="x.lastname" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput [(ngModel)]="x.email" [formControl]="emailFormControl">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Save</button>
        <button mat-raised-button mat-dialog-close color="warn">Close</button>
    </div>
</ng-template>