ng-template.td {
    border-right: 1px solid black;
}

:host{display:contents; }

mat-form-field {
    margin-top: 5px;
    margin-right: 8px;
}

.example-form {
    min-width: 200px;
    max-width: 730px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.btn-edit {
    padding: 0;
}

mat-dialog-content mat-form-field {
    width: 220px;
}

mat-dialog-content form {
    margin-bottom: 20px;
}

.mat-dialog-content form>* {
    margin: 12px 0;
}

.mat-dialog-content {
    display: flex;
    align-items: flex-start;
}