<!-- <td class="data-border">{{user.username}}</td>
<button type="button" class="m-2 btn btn-primary" (click)="logoutSession()">Logout</button> -->
<!-- <br> -->
<!-- <div *ngIf="newP">
    <p>{{newP | json}}</p>
    <p>{{newP.email}}</p>
    {{newP.education}}
    {{newP.firstname}}
    {{newP.lastname}}
    {{newP.email}}
    <td class="data-border">{{newP.lastname}}</td>
</div> -->

<!-- Firstname {{user.firstname}}
{{user.lastname}}
{{user.email}} -->

<!-- <ul>
    <li *ngFor="let change of changeLog">{{change}}</li>
</ul> -->
<!-- <ng-container *ngIf="player">
    <p> This is Player view. </p>
</ng-container> -->

<!-- <div *ngIf="newP"> -->
<!-- <div *ngFor="let n of newP.contact">
        {{n.phone}}
    </div>
    {{newP.firstname}} -->
<!-- newP: {{newP}}
    {{newP.email}}
    json: {{newP | json}}
    {{p.firstname}}
</div> -->

<!-- <button type="button" class="m-2 btn btn-primary" (click)="openDialog2()"><i class="bi bi-pencil-square"></i></button>
<button type="button" class="m-1 btn btn-danger" (click)="deletePerson(x)"><i class="bi bi-trash"></i></button> -->

<!-- <button type="button" class="m-2 btn btn-primary" (click)="logoutSession()">Logout</button> -->
<!-- <td class="data-border">{{x.id}}</td>
<td class="data-border">{{x.firstname}}</td>
<td class="data-border">{{x.lastname}}</td>
<td class="data-border">{{x.email}}</td> -->
<td class="data-border">{{newP.id}}</td>
<td class="data-border">{{newP.firstname}}</td>
<td class="data-border">{{newP.lastname}}</td>
<td class="data-border">{{newP.email}}</td>
<td class="data-border">

<!-- <ng-container *ngTemplateOutlet="content"></ng-container>

<ng-template #content>
    <td class="data-border">{{newP.id}}</td>
    <td class="data-border">{{newP.firstname}}</td>
    <td class="data-border">{{newP.lastname}}</td>
    <td class="data-border">{{newP.email}}</td>
    <td class="data-border">
        <app-contact-list [contactList]="newP.contact"></app-contact-list>
    </td>
    <td class="data-border">
        <app-address-list [addressList]="newP.address"></app-address-list>
    </td>
    <td>
        <button type="button" class="m-2 btn btn-primary" (click)="openDialog2()"><i
                class="bi bi-pencil-square"></i></button> -->
        <!-- <button type="button" class="m-1 btn btn-danger" (click)="deletePerson(x)"><i class="bi bi-trash"></i></button> -->
    <!-- </td> -->
    <!-- <td class="data-border" *ngFor="let cont of x.contact">
        <app-contact [c]="cont"></app-contact>
    </td> -->
    <!-- <td class="data-border" *ngFor="let add of x.address">
        <app-address [a]="add"></app-address>
    </td> -->
    <!-- <td class="data-border">{{x.contact}}</td> -->
    <!-- <td class="data-border">{{user.firstname}}</td>
    <td class="data-border">{{user.lastname}}</td>
    <td class="data-border">{{user.email}}</td> -->
<!-- </ng-template> -->

<!-- Dialog template to Add Person -->
<ng-template #addP>
    <h2 mat-dialog-title>Add Person</h2>
    <form class="example-form">
        <div mat-dialog-content *ngIf="newP">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>First name</mat-label>
                            <input matInput [(ngModel)]="newP.firstname" placeholder="John" name="firstname">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Last name</mat-label>
                            <input matInput [(ngModel)]="newP.lastname" placeholder="Doe" name="lastname">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <p>
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" name="email">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field> -->
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="newP.email" placeholder="abc@mail.com" name="email" required>
                </mat-form-field>
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Contact</mat-label>
                    <input matInput [(ngModel)]="newP.contact" placeholder="123456789" name="contact" required>
                </mat-form-field> -->
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput [(ngModel)]="newP.address" placeholder="Ex. 100 Main St"
                        name="address"></textarea>
                </mat-form-field> -->
                <mat-form-field appearance="outline">
                    <mat-label>Education</mat-label>
                    <textarea matInput [(ngModel)]="newP.education" name="education"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Ex. San Francisco" [(ngModel)]="newP.password" name="password">
                </mat-form-field>
                <!-- <mat-form-field appearance="outline">
                </mat-form-field> -->
                <app-contact-list [addContact]="newP.contact"></app-contact-list>
                <!-- <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Country Code</span>
                    </div>
                    <input type="text" aria-label="First name" class="form-control">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Region Code</span>
                    </div>
                    <input type="text" aria-label="Last name" class="form-control">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Phone Number</span>
                    </div>
                    <input type="text" aria-label="Phone number" class="form-control">
                </div> -->
                <!-- <mat-form-field appearance="outline">
                        <mat-label>Contact</mat-label>
                        <input matInput placeholder="Ex. San Francisco" [(ngModel)]="newP.contact" name="password">
                    </mat-form-field> -->
                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Ex. San Francisco" [(ngModel)]="newP.address" name="address">
                </mat-form-field>
            <!-- </p> -->

            <mat-dialog-actions align="end" class="btn-edit">
                <button mat-raised-button mat-dialog-close (click)="addPerson(newP); " color="primary">Create</button>
                <button mat-raised-button mat-dialog-close>Cancel</button>
            </mat-dialog-actions>
            <!-- </mat-dialog-content> -->
        </div>
    </form>
</ng-template>


<!-- Dialog template to Edit Person -->
<ng-template #editPerson>
    <h2 mat-dialog-title>{{x.firstname}} Details</h2>
    <!-- <form class="example-form">
        <mat-dialog-content>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                            <mat-form-field appearance="fill">
                            <mat-label>First name</mat-label>
                            <input matInput [(ngModel)]="x.firstname">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Last name</mat-label>
                            <input matInput [(ngModel)]="x.lastname" placeholder="Doe" name="first">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Contact</mat-label>
                    <input matInput [(ngModel)]="newP.contact" placeholder="John" name="first">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput [(ngModel)]="newP.address" placeholder="Ex. 100 Main St" name="first"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Education</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </p>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>City</mat-label>
                            <input matInput placeholder="Ex. San Francisco">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>State</mat-label>
                            <input matInput placeholder="Ex. California">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <mat-dialog-actions align="end" class="btn-edit">
                <button mat-raised-button mat-dialog-close>Save</button>
                <button mat-raised-button mat-dialog-close color="warn">Close</button>
            </mat-dialog-actions>
        </mat-dialog-content>
    </form> -->
    <div mat-dialog-content *ngIf="x">
        <mat-form-field appearance="fill">
            <mat-label>Firstname</mat-label>
            <input matInput [(ngModel)]="x.firstname" name="firstname">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Lastname</mat-label>
            <input matInput [(ngModel)]="x.lastname" name="lastname">
        </mat-form-field>
        <div mat-dialog-actions align="end">
            <button mat-raised-button mat-dialog-close (click)="save()" color="primary">Save</button>
            <button mat-raised-button mat-dialog-close>Close</button>
        </div>
    </div>
</ng-template>