<!-- <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" >Aboutus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" >ContactUS</a>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-primary" *ngIf="!loginStatus" (click)="loginSession()">
          Login
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-danger" *ngIf="loginStatus" (click)="logout(); logoutSession()">
          Logout
        </button>
      </li>
    </ul>
  </nav> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Competitions</a>
                <a class="nav-link" href="#" *ngIf="loginStatus">Profile</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
        </div>
        <button class="me-2 btn btn-outline-primary float-end btn-rounded btn-sm" type="button" *ngIf="!loginStatus"
            (click)="loginSession()"><i class="bi bi-box-arrow-in-right me-2"></i>Sign In</button>
        <button class="me-2 btn btn-outline-danger float-end btn-rounded btn-sm" type="button" *ngIf="loginStatus"
            (click)="logout(); logoutSession()"><i class="bi bi-person-circle me-2"></i>Logout</button>
    </div>
    <!-- <ul class="navbar-nav">
            <li class="nav-item">
                <button type="button" class="btn btn-primary" *ngIf="!loginStatus" (click)="loginSession(); login()">
                    Login
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-danger" *ngIf="loginStatus" (click)="logoutSession(); logout()">
                    Logout
                </button>
            </li>
        </ul> -->
</nav>

<ng-container *ngIf="admin">
    <p> This is Admin view. </p>
    <app-person-list></app-person-list>
</ng-container>

<ng-container *ngIf="player">
    <div *ngIf="user">
        <!-- <app-person-detail [x]="x"></app-person-detail>  -->
        <app-person-detail [user]="user"></app-person-detail>
    </div>
</ng-container>

<ng-container *ngIf="manager">
    <p> This is Manager view. </p>
</ng-container>