<p>dashboard works! This is default view</p>

<button type="button" class="m-2 btn btn-primary" (click)="loginSession()">Login</button>
<button type="button" class="m-2 btn btn-primary" (click)="logoutSession()">Logout</button>

<br>

<ng-container *ngIf="admin">
    <p> This is Admin view. </p>
    <app-person-list></app-person-list>
</ng-container>

<ng-container *ngIf="player">
    <div *ngIf="x">
     <app-person-detail [x]="x"></app-person-detail> 
        <!-- <app-person-detail [user]="user"></app-person-detail> -->
    </div>
</ng-container>

<ng-container *ngIf="manager">
    <p> This is Manager view. </p>
</ng-container>