<!-- <p>address works!</p> -->

<!-- <td class="data-border">{{c.country_code}}</td>
<td class="data-border">{{c.region_code}}</td>
<td class="data-border">{{c.phone}}</td> -->

<!-- <tr>{{a.address_type}}</tr>
<tr>{{a.flat_no}}</tr>
<tr>{{a.locality}}</tr>
<tr>{{a.city}}</tr>
<tr>{{a.state}}</tr>
<tr>{{a.country}}</tr>
<tr>{{a.pin}}</tr> -->

<!-- For -->
<!-- {{a.flat_no}}
{{a.area}}
{{a.locality}}
{{a.city}}
{{a.state}}
{{a.country}}
{{a.pin}} -->


<!-- <div *ngFor="let add of address"> -->
    <td>{{address.flat_no}}</td>
    <td>{{address.area}}</td>
    <td>{{address.locality}}</td>
    <td>{{address.city}}</td>
    <td>{{address.state}}</td>
    <td>{{address.country}}</td>
    <td>{{address.pin}}</td>
<!-- </div> -->